.content-container{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-auto-flow: column;
    
    /* grid-template-rows: none; */
    /* height: 100vh; */
    /* height: 100vh; */
}
.sidebar{
    display: grid;
 grid-template-rows: repeat(auto-fit,minmax(50px,90px));
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
border-radius: 0px 32px 32px 0px;
max-width: 271px;
min-width:85px ;
/* justify-content: center; */
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.pagination-container{
  height: 42px;
    grid-row-start: 1;
    grid-column-start: 2;
    align-self: flex-end;
    justify-self: center;
    margin-bottom: 25px;
}
.main-content{
  grid-row: 1;
    height: 500px;
    grid-column: 2;
}
.buttons-container{
    grid-row-start: 2;
    align-self: flex-start;
    margin-top: 20px;
}
.feedback-container{
    /* grid-row-end: 2; */
    text-align: center;
    align-self: flex-end;
}
 .pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #47ccde ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #47ccde ;
    border-color: #47ccde;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #47ccde
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
  .active-tab a{
    background-color: green;
    /* margin-top: 2px; */
  }