.container{
    display: grid;
    grid-template-columns: 25% 75%;
    /* grid-template-rows: none; */
    /* height: 100vh; */
    /* height: 100vh; */
}
.sidebar{
    display: grid;
 grid-template-rows: repeat(auto-fit,minmax(50px,90px));
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
border-radius: 0px 32px 32px 0px;
max-width: 271px;
min-width:85px ;
/* justify-content: center; */
  align-items: center;
  justify-content: center;
  height: 100vh;
 
}
.buttons-container{
    grid-row-start: 2;
    align-self: flex-start;
    margin-top: 20px;
}
.feedback-container{
    /* grid-row-end: 2; */
    text-align: center;
    align-self: flex-end;
}
