.random{
    display: none;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,250px));
    height: 100%;
    overflow: auto;
    
}
.card-view{
    display: grid;
    grid-template-rows: repeat(4,auto);
    background: #FFFFFF;
    margin: 17px;
    padding: 8px;
    height: 224px;
}


.card-image{
  width: 100%;
height: 122px;
margin-top: 3px;
}
.card-title{
     white-space: nowrap;
        overflow: hidden;
        margin-bottom: 3px;
        text-overflow:ellipsis;
}
.card-summary{
     white-space:nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
        margin-top: 2px;
}
.card-date{
     color: gray;
   font-size:12px;
}

.remove-card-post{
  justify-self: flex-end;
}
.main-content{
  border-bottom: #ccc solid 1px;
}