.random{
    display: none;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.card{
    display: grid;
    grid-template-rows: repeat(4,auto);
    background: #FFFFFF;
    margin: 17px;
    padding: 15px;
}

.card-image{
  width: 100%;
height: 122px;
margin-top: 3px;
}
.card-title{
     white-space: pre;
        overflow: hidden;
        margin-bottom: 3px;
        text-overflow:ellipsis;
}
.card-summary{
     white-space:pre;
        overflow: hidden;
        text-overflow:ellipsis;
        margin-top: 2px;
}
.card-date{
     color: gray;
   font-size:12px;
}