 .list-container{
 overflow:auto;
    height: 100%;
    /* border: 1px solid #ccc; */
}
.single-lists{
    display: grid;
    grid-template-columns: 90% 10%;
   
    grid-template-rows: none;
    margin: 10px;
}
.s-list{
   display: grid;
   grid-template-columns: 67px  minmax(40%,85%);
  grid-auto-rows: none ;
   background-color:#FFFFFF;
   padding: 12px;

}
 .list-summary{
   white-space:nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
}
.close{
   /* justify-content: center; */
   align-self: center;
   justify-self: center;
}
.list-title{
     white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
} 
.list-image{
   border-radius: 50%;
   width:67px;
   height: 67px;
   display: block;
}
.none{
   display: none;
}
.list-content{
   /* display: grid;
   grid-template-rows: 1fr 1fr 1fr; */
   margin-left: 5px;
}
.list-date{
   color: gray;
   font-size: 15px;
}