.feedback{
    display: grid;
    grid-template-rows: 1fr 1fr;   
    background: #FFFFFF;
box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
border-radius: 8px;
height: 70px;
max-width: 200px;
min-width: 120px;
}
.feedback-btn{
    background: #A3FFD3;
box-shadow: inset 0px 8px 28px -6px rgba(24, 39, 75, 0.12), inset 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
border-radius: 8px;
width: fit-content;
text-align: center;
align-self: center;
justify-self: center;
/* justify-content: center; */
display: block;
height: 25px;
padding: 8px;
padding-bottom: 20px;
margin-bottom: 8px
}