.profile{
 display: flex;
 flex-direction: row;
 background: #FFFFFF;
box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
border-radius: 8px;
max-width:200px;
 padding: 5px;
 margin-top: 20px;
}
.profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
}